/*
 * Style per form di tipo black
 */
/* line 9, ../sass/formBlackStyle.scss */
.formBlack {
  padding-top: 3%;
}
/* line 11, ../sass/formBlackStyle.scss */
.formBlack h2, .formBlack h3 {
  color: #d8d8d8;
}

/* line 16, ../sass/formBlackStyle.scss */
.formBlack-box {
  border-top: 1px solid #ff7505;
  background-color: #232323;
  margin-bottom: 60px;
}

/* line 23, ../sass/formBlackStyle.scss */
.formBlack-title {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* line 29, ../sass/formBlackStyle.scss */
.formBlack-body {
  padding: 30px;
}

/* line 33, ../sass/formBlackStyle.scss */
.formBlack label {
  font-size: 14px;
  color: #d8d8d8;
  text-align: left !important;
}
/* line 37, ../sass/formBlackStyle.scss */
.formBlack label .error {
  background: none !important;
  color: #ed1c24 !important;
  float: right;
}

/* line 44, ../sass/formBlackStyle.scss */
.formBlack input[type='text'], textarea, .error textarea, select {
  background-color: #1c1c1c;
  min-height: 40px;
  color: #f3f3f3;
  border: 0px;
  border-bottom: 1px solid #303030;
  margin-left: 0px;
}
/* line 51, ../sass/formBlackStyle.scss */
.formBlack input[type='text']:focus, textarea:focus, .error textarea:focus, select:focus {
  background-color: #303030;
  border-bottom: 1px solid #787878;
}

/* line 58, ../sass/formBlackStyle.scss */
.formBlack .buttonOrange {
  width: auto;
  height: 30px !important;
  font-size: 14px;
  color: #f3f3f3;
  line-height: 20px;
  margin-right: 5px;
  padding: 8px 15px 10px 50px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: #ff7505;
}

/* line 71, ../sass/formBlackStyle.scss */
.formBlack .buttonNext {
  border: 0px;
  color: #f3f3f3;
  width: 135px;
  height: 35px;
  margin: 20px !important;
  background-repeat: no-repeat;
  background-image: url(../images/button/signup-next.png) !important;
  background-color: #232323;
}

/* line 82, ../sass/formBlackStyle.scss */
.formBlack .buttonBlack {
  border: 0px;
  color: #787878;
  width: 135px;
  height: 35px;
  margin: 20px !important;
  background-repeat: no-repeat;
  background-image: url(../images/button/signup-back.png) !important;
  background-color: #232323;
}

/* line 93, ../sass/formBlackStyle.scss */
.formBlack .errorMessage {
  font-size: 14px !important;
  color: #ed1c24 !important;
  text-align: right !important;
}

/* line 98, ../sass/formBlackStyle.scss */
.formBlack .upload-box {
  height: 103px;
  border: #787878 1px solid;
  margin: 0px !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}
/* line 104, ../sass/formBlackStyle.scss */
.formBlack .upload-box .thumbnail-box {
  text-align: center !important;
  background-color: #303030 !important;
  height: 99px !important;
  margin: 1px !important;
  width: 99px !important;
}
/* line 111, ../sass/formBlackStyle.scss */
.formBlack .upload-box .thumbnail {
  background-color: #303030 !important;
  height: 106px;
  width: 108px;
}
/* line 116, ../sass/formBlackStyle.scss */
.formBlack .upload-box .small-3 {
  padding: 0px !important;
}
/* line 119, ../sass/formBlackStyle.scss */
.formBlack .upload-box .small-9 {
  padding-left: 10% !important;
  padding-top: 10% !important;
}
/* line 123, ../sass/formBlackStyle.scss */
.formBlack .upload-box .upload-reveal {
  background-color: #232323;
  left: 10%;
  top: -450% !important;
  width: 270%;
}

/* line 132, ../sass/formBlackStyle.scss */
.formBlack input[type='checkbox'] + label {
  background-color: #303030 !important;
  height: 25px !important;
  color: #f3f3f3;
  float: left;
  padding: 5px;
  margin-right: 15px;
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 144, ../sass/formBlackStyle.scss */
.formBlack input[type='checkbox']:checked + label {
  background-color: #ff7505 !important;
}

/* line 148, ../sass/formBlackStyle.scss */
.ui-datepicker {
  width: 216px;
  height: auto;
  margin: 5px auto 0;
  font: 9pt Arial, sans-serif;
}

/* line 156, ../sass/formBlackStyle.scss */
.ui-datepicker-header {
  background-color: #303030;
  color: #787878 !important;
  line-height: 30px;
}
/* line 160, ../sass/formBlackStyle.scss */
.ui-datepicker-header a {
  color: #787878 !important;
}

/* line 168, ../sass/formBlackStyle.scss */
.ui-datepicker-title {
  text-align: center;
  font-weight: bold;
}

/* line 173, ../sass/formBlackStyle.scss */
.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* line 183, ../sass/formBlackStyle.scss */
.ui-datepicker-prev {
  float: left;
  background-position: center -30px;
}

/* line 187, ../sass/formBlackStyle.scss */
.ui-datepicker-next {
  float: right;
  background-position: center 0px;
}

/* line 193, ../sass/formBlackStyle.scss */
.ui-datepicker-calendar {
  width: 216px !important;
}

/* line 199, ../sass/formBlackStyle.scss */
.formBlack #s2id_trackFeaturing {
  margin-bottom: 10px !important;
}
/* line 202, ../sass/formBlackStyle.scss */
.formBlack .select2-container-multi .select2-choices {
  font-size: 14px;
  background: #1c1c1c !important;
  color: #f3f3f3 !important;
  border: 1px solid #303030 !important;
  margin-left: 0px !important;
}
/* line 208, ../sass/formBlackStyle.scss */
.formBlack .select2-container-multi .select2-choices:focus {
  background-color: #303030 !important;
  border-bottom: 0px solid #787878 !important;
}
/* line 214, ../sass/formBlackStyle.scss */
.formBlack .select2-container-active {
  border: 1px solid #303030 !important;
}
/* line 218, ../sass/formBlackStyle.scss */
.formBlack .select2-no-results {
  display: none !important;
}
/* line 222, ../sass/formBlackStyle.scss */
.formBlack .select2-drop {
  color: #f3f3f3 !important;
  background: #1c1c1c !important;
  border: 1px solid #1c1c1c !important;
}
/* line 228, ../sass/formBlackStyle.scss */
.formBlack .select2-highlighted {
  background: #ff7505 !important;
}
/* line 231, ../sass/formBlackStyle.scss */
.formBlack .select2-search-choice {
  font-weight: 500 !important;
  height: 30px !important;
  padding: 6px !important;
  padding-left: 16px !important;
  background: #ff7505 !important;
  color: #fff !important;
  border: 1px solid #ff7505 !important;
  border-radius: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
/* line 243, ../sass/formBlackStyle.scss */
.formBlack .select2-search input.select2-active {
  background: #1c1c1c !important;
  color: #f3f3f3 !important;
}

/* Progress Bar */
/* line 251, ../sass/formBlackStyle.scss */
.ui-progressbar,
.ui-progressbar-value {
  position: relative;
  height: 4px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}

/* line 260, ../sass/formBlackStyle.scss */
.ui-progressbar {
  cursor: pointer;
  margin: 15px 0 20px 0;
  background: #242424;
  left: -30px;
  top: 10px;
}

/* line 268, ../sass/formBlackStyle.scss */
.ui-progressbar-value {
  top: 12px;
  background: #ff7505;
}

/* line 273, ../sass/formBlackStyle.scss */
.ui-progressbar-value span.progressTooltip {
  position: absolute;
  display: block;
  width: 36px;
  height: 14px;
  padding: 0px 10px 4px 25px;
  top: -8px;
  right: -25px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
  font-size: 12px;
  color: #646464;
}
