/asset/
/runtime/
/nbproject/private/
/.settings
/users
/.sass-cache
nbproject/project.properties
nbproject/project.xml
.project
config.rb
/protected/messages/en/en.views.lang.php
/protected/messages/en/en.controllers.lang.php
/protected/messages/it/it.controllers.lang.php
/protected/messages/it/it.views.lang.php
/protected/views/site/test.php